:root {
  --alias-primay-default: var(--brand-coral-500);
  --brand-coral-500: #e7404b;
}

:root,
[data-theme='light'] {
  --mapped-surface-page: var(--alias-neutral-white);
  --alias-neutral-white: #fefffc;
  --app-hover-bg: color-mix(in srgb, var(--mapped-surface-action) 8%, transparent);
  --mapped-surface-action: var(--alias-primay-default);
}

[data-theme='dark'] {
  --mapped-surface-page: #050203;
}

:root {
  --app-shadow-e1: 0 0 0 1px rgba(0, 0, 0, 0), 0 1px 4px -2px rgba(0, 0, 0, 0.13);
  --app-font-family-heading:
    'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

@include media-up(tablet) {
  :root {
    --app-layout-gap-padding: 16px;
  }
}

.component {
  --_choice-size: 18px;
  width: var(--_choice-size);
  background: url('data:image/svg+xml;base64,AAA');
}
